*{
   margin:0%;
   padding:0%;
   Box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
}

header{
    width: 100%;
    max-width: 800px;
    text-align: center;
}

header h1{
    color: #767676;
}
header form .search-container{
    margin-top: 20px;
    position: relative;
}
header form .search-container input{
    width: 100%;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background: #eee;
    
}
header form .search-container .material-symbols-outlined{
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #777;
    cursor: pointer;
}

.image-container{
    margin-block: 50px;
}
@media screen and(max-width:920px){
    header{
        width: 80%;
    }
}